.child-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
}

.child-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child-info {
  text-align: left;
  margin-left: 20px;
}

.child-name {
  font-size: 20px;
  font-weight: bold;
  color: gray;
  margin-bottom: 5px;
}

.child-status {
  font-size: 16px;
  font-weight: bold;
}

.child-checkin {
  color: #42c2a3;
}

.child-checkout {
  color: #f5543d;
}

.child-action-wrapper {
  display: flex;
  align-items: center;
}

.error-msg {
  font-size: 14px;
  font-weight: bold;
  color: red;
}

.timepicker-wrapper {
  margin-right: 30px;
}

.timepicker-label {
  font-size: 14px;
  font-weight: bold;
  color: gray;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .timepicker-wrapper {
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .child-info-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .child-info {
    margin-left: 0;
    margin-top: 20px;
  }

  .child-action-wrapper {
    flex-direction: column;
  }

  .timepicker-wrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .child-name {
    font-size: 16px;
  }

  .child-status {
    font-size: 14px;
  }

  .child-info {
    margin-bottom: 5px;
  }
}
